<html>
    <head>
        <title></title>
    </head>
    <body>
        <% if(name=='alice'){ %>
        <% include ../style/alice.css; %>
        <% }else{%>
        <% include ../style/other.css %>
        <% } %>    
    </body>
</html>        